*{
    box-sizing : border-box;
}

body {
    margin : 0;
    font-family: "Source Sans Pro", Arial, sans-serif,cursive;
}

.header-container {
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);
    padding-inline: 24px;
    position: sticky;
    backdrop-filter : blur(10px);
    top: 0;
    margin-bottom: 32px;
    /* z-index: 1; */
  }
  
  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin-inline: auto;
  }
  
 .movies-container {
  max-width: 1200px;
  margin-top: 16px;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;           
  gap: 32px;
  justify-content: center;   
  padding-inline: 16px;      
}

  

  .movies-card {
    display: inline-block;
    max-width: 180px ;
    border-radius: 8px;
    overflow: hidden;
    text-decoration: none ;
    color : black;
    /* padding-bottom: 10px; */
    box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.2);
    /* background-color:  */
  }
  
  .flag-container {
    height: 230px;
    /* width : 178px;  */
    overflow: hidden;
  }
  
  .movies-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .card-text{
    padding:10px;
  }

  .card-text p {

  }
 

  
.search-container {
    box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.15);
    max-width: 350px;
    width: 100%;
    border-radius: 4px;
    padding-left: 24px;
    color: #999;
    overflow: hidden;
    background-color: var(--elements-color);
    color: var(--text-color);
}

.search-container input {
    border: none;
    outline: none;
    padding: 16px;
    width: 90%;
    background-color: inherit;
    color: inherit;
}

.search-container input::placeholder {
    color: #999;
}
